@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-foreground: oklch(20% 0.029 70.75deg);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(20% 0.029 70.75deg);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(20% 0.029 70.75deg);
  --color-primary: oklch(70.75% 0.205 55.05deg);
  --color-primary-foreground: oklch(97.8% 0.009 84.77deg);
  --color-secondary: oklch(98% 0.205 84.77deg);
  --color-secondary-foreground: oklch(10% 0.01 84.77deg);
  --color-muted: oklch(95.9% 0.005 84.77deg);
  --color-muted-foreground: oklch(44.7% 0.005 70.75deg);
  --color-accent: oklch(95.9% 0.005 84.77deg);
  --color-accent-foreground: oklch(10% 0.01 84.77deg);
  --color-destructive: oklch(60.2% 0.243 27.325deg);
  --color-destructive-foreground: oklch(97.8% 0.009 84.77deg);
  --color-border: oklch(90% 0.006 70.75deg);
  --color-input: oklch(90% 0 0);
  --color-ring: oklch(53.1% 0.235 47.32deg);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: "Nunito", sans-serif;
}

:root {
  --radius: 1rem;
}

.dark {
  --foreground: oklch(98% 0 0);
  --card: oklch(10% 0 0);
  --card-foreground: oklch(98% 0 0);
  --popover: oklch(10% 0 0);
  --popover-foreground: oklch(98% 0 0);
  --primary: oklch(82% 0.06 217.21);
  --primary-foreground: oklch(98% 0 0);
  --secondary: oklch(17.5% 0.01 222.31);
  --secondary-foreground: oklch(98% 0 0);
  --muted: oklch(17.5% 0 0);
  --muted-foreground: oklch(70.8% 0 222.31);
  --accent: oklch(17.5% 0 0);
  --accent-foreground: oklch(98% 0 0);
  --destructive: oklch(67.4% 0.144 22.13);
  --border: oklch(10% 0 0 / 10%);
  --input: oklch(10% 0 0 / 15%);
  --ring: oklch(70.8% 0 222.31);
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[color:var(--color-background)] text-[color:var(--color-foreground)]; /* Используем var() напрямую */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}